.heading {
	margin-top: 100px;
	background-color: black;
	padding-top: 30px;
	width: 100%;
}

.heading h1 {
	font-size: 5rem;
	font-weight: bold;
	font-family: "Lato", sans-serif;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	/* background: -webkit-linear-gradient(black, #ffd700, black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}

.stats {
	display: flex;
	background-color: black;
	color: #c6ac5a;
	margin-top: 200px;
}

.stats h3 {
	font-size: 1.8rem;
}

.stats p {
	font-size: 1.2rem;
}

/* What is Graux */
.what {
	height: 400px;
	width: 100%;
	color: white;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: black;
	text-align: center;
	color: #c6ac5a;
	margin-top: 300px;
}

.what h2 {
	font-size: 3rem;
	font-weight: bold;
	color: #c6ac5a;
}

.what p {
	color: #c6ac5a;
	font-size: 1.5rem;
	text-align: center;
	width: 60%;
	margin: auto;
}

.hey h1 {
	margin-top: 100px;
}

/* Tools */
